.bgSliderHeader{
  display: block;
}
.sliderItem{
    position: relative;
    padding-top: 6rem;
}
.sliderItem img{
    width: 100%;
    display: block;
}
.sliderItemDescription{
    position: relative;
    z-index: 2;
}
.sliderItemDescription h2{
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 900;
}
.sliderItemDescription .subTitle{
    font-size: 0.9rem;
    line-height: 1.2rem;
}
.sliderItemShadow{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.sliderItemShadow::before{
    background: rgb(33,33,33);
    background: linear-gradient(180deg, rgba(33,33,33,0) 0%, rgba(33,33,33,0.8183648459383753) 76%, rgba(33,33,33,1) 100%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.titleColabora span{
  display: inline-block;
  padding: 0.4rem 1rem;
}
.titleColabora .color1{
  background: #F9BF00;
  color: white;
}
.titleColabora .color2{
  background: #46D3F9;
  color: white;
}

@media (min-width: 768px) {
  .sliderItemColabora{
    padding-top: 26%;
  }
  
  .sliderItemDescription h2{
    font-size: 1.8rem;
  }
  .bgSliderHeader{
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .sliderItemDescription h2{
    font-size: 2.8rem;
  }
  .sliderItemDescription .subTitle{
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .subTitleColabora{
    font-size: 2rem!important;
    line-height: 2.4rem!important;
  }
}