.playerFixed{
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}

.player{
  background: #0D0D0D;
  width: 100%;
  display: flex;
  padding: 2px 2px 0px 2px;
}
.playerSocial{
  display: none;
}

.playerProgram{
  background: #212121;
  display: flex;
  align-items: center;
  color: white;
  width: 100%;
  padding: 10px;
}
.playerProgramTitle{
  font-size: 12px;
}

.playerControls{
  background: #0D0D0D;
  width: 60px;
  height: 60px;
}
.playerControlsTogglePausePlay{
  width: 60px;
  height: 60px;
  outline: none;
}

.playerEqualizer{
  width: 60px;
  height: 60px;
  background: #212121;
  padding: 1rem 0.4rem;
  display: flex;
  justify-self: center;
  align-items: flex-end;
  justify-content: center;
}
.playerEqualizer span{
  width: 2px;
  height: 4%;
  display: inline;
  background: #095CA2;
  margin:0px 2px;
  transition: 1s;
}
.playerEqualizerActive span{
  height: 100%;
  transition: 1s;
  animation: equalize 4s 0s infinite;
}
.playerEqualizer span:nth-child(1){
  animation-delay: -1.9s;
}
.playerEqualizer span:nth-child(2){
  animation-delay: -2.9s;
}
.playerEqualizer span:nth-child(3){
  animation-delay: -3.9s;
}
.playerEqualizer span:nth-child(4){
  animation-delay: -4.9s;
}
.playerEqualizer span:nth-child(5){
  animation-delay: -5.9s;
}
.playerEqualizer span:nth-child(6){
  animation-delay: -2.0s;
}
.playerEqualizer span:nth-child(7){
  animation-delay: -3.5s;
}
@keyframes equalize {
  0% {
    height: 4%
  }
  4% {
    height: 70%;
  }
  8% {
    height: 60%;
  }
  12% {
    height: 30%;
  }
  16% {
    height: 20%;
  }
  20% {
    height: 30%;
  }
  24% {
    height: 60%;
  }
  28% {
    height: 10%;
  }
  32% {
    height: 60%;
  }
  36% {
    height: 48%;
  }
  40% {
    height: 20%;
  }
  44% {
    height: 60%;
  }
  48% {
    height: 100%;
  }
  52% {
    height: 30%;
  }
  56% {
    height: 10%;
  }
  60% {
    height: 30%;
  }
  64% {
    height: 100%;
  }
  68% {
    height: 30%;
  }
  72% {
    height: 100%;
  }
  76% {
    height: 20%;
  }
  80% {
    height: 100%;
  }
  84% {
    height: 38%;
  }
  88% {
    height: 100%;
  }
  92% {
    height: 20%;
  }
  96% {
    height: 100%;
  }
  100% {
    height: 100%;
  }
}


@media (min-width: 768px) {
  .playerFixed {
    width: 64px;
    top: 0;
    bottom: inherit;
    left: 0;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .playerProgram{
    height: 65%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .playerProgramTitle{
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  .playerSocial{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #0d0d0d;
    border-bottom: 2px solid #0d0d0d;
  }
  .playerSocial a{
    display: flex;
    width: 100%;
    padding: 1.5em 0.7em;
    justify-content: center;
    transform: all ease 400ms;
  }
  .playerSocial a svg{
    fill: white;
  }
  .playerSocial a:hover{
    background: #212121;
    transform: all ease 400ms;
  }
  .playerSocial a:hover svg{
    fill: #c1c1c1;
  }
}