.footer{
    width: 100%;
    margin-bottom: 80px;
}
.footer h2{
    text-transform: uppercase;
    font-size: 1.3rem;
}

.blockFooter{
    margin-bottom: 3rem;
    display: block;
    width: 100%;
}
.blockFooter p{
    display: flex;
    align-items: center;
}
.blockFooter ul li{
    margin: 1rem;
    list-style-image: url('/images/ico/arrow-right.svg');
}

.svgStore{
    width: 100%;
}