html,
body {
  background: #212121;
  color: white;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button{
  background: inherit;
  border: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
h2.title{
  font-size: 1.2em;
}
section.blockSection{
  margin-bottom: 2rem;
}
.grid-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}
.auto-scroll ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}
ul{
  margin: 0;
  padding:0;
}
.wrapper-content{
  padding: 0rem 1.5rem;
}

.btnBethel{
  padding: 0.7rem 0.5rem;
  font-weight: normal;
}
.btnFirst{
  background: white;
  color: black;
}
.btnSecond{
  background: #212121;
  color: white;
}
.btnRounded{
  border-radius:40rem;
}

.txt-center{
  text-align: center;
}
.splide__arrow{
  background: rgba(0,0,0,0.5)!important;
  border:1px solid white!important;
  width: 3em!important;
  height: 3em!important;
}
.splide__arrow[disabled]{
  opacity: 0;
  visibility: hidden;
}
.splide__arrow svg{
  fill: white;
}
.text-center{text-align: center;}
.btn_form{
  position: fixed;
  right: 0.5rem;
  bottom: 70px;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
  padding: 0.7rem;
  z-index: 3;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}
@media (min-width: 768px) {
  button{
    cursor: pointer;
  }
  .wrapper-desktop{
    margin-left:64px;
    position: relative;
  }
  .wrapper-content{
    padding: 0;
  }
  .main-desk{
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
  section.blockSection{
    z-index: 1
  }
  h2.title{
    font-size: 1.5em;
  }
  .btnBethel{
    padding: 0.5rem 0.8rem;
    width: fit-content
  }
  .md-grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .btn_form{
    bottom: 0.5rem;
    transition: all ease 400ms;
  }
  .btn_form:hover{
    background: #2E2E2E;
    transition: all ease 400ms;
  }
  .btn_form:hover svg path:first-child{
    fill: white;
    transition: all ease 400ms;
  }
  .btn_form:hover svg path:nth-child(2){
    fill: #2E2E2E;
    transition: all ease 400ms;
  }
}